/*Polices*/
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Lilita+One&family=Poppins:wght@900&family=Rowdies&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Lilita+One&family=Montserrat&family=Poppins:wght@900&family=Rowdies&display=swap");

/*body*/

body {
  margin: 0;
  padding: 0;
  background-color: rgb(12, 116, 235);
  font-family: "Caprasimo", cursive;
  font-family: "Lilita One", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rowdies", cursive;
}
#general {
  width: 100%;
  margin: auto;
  padding-top: 100px;
}

#general h1 {
  margin-top: 50px;
}
/*Messages*/
.success,
.error {
  margin: auto;
  margin-top: 100px;
  padding-top: 5px;
  width: 480px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  background-color: white;
}
a {
  text-decoration: none;
  color: black;
}

.success {
  color: green;
}
.error {
  color: red;
}

/*header - page login*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  height: 100px;
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#navbar img {
  width: 100px;
}

#navbar h1 {
  font-family: "Caprasimo", cursive;
  font-family: "Lilita One", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Rowdies", cursive;
  font-size: 35px;
}

#navbar #button_log {
  width: 150px;
  height: 35px;
  border-radius: 4px;
  background-color: rgb(12, 116, 235);
  color: white;
  font-weight: bolder;
  font-size: 17px;
}
/*header - page login*/
#navbar .nav-menu {
  display: flex;
  text-align: center;
  list-style-type: none;
  gap: 23px;
}
.link_admin {
  width: 150px;
  height: 35px;
  border-radius: 4px;
  background-color: rgb(12, 116, 235);
  padding-top: 5px;
  color: white;
  font-size: 17px;
}

.nav-link {
  text-decoration: none;
  color: black;
}

/*Formulaire de connexion - page login*/

#div_form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

#div_form #email,
#password {
  width: 210px;
  height: 40px;
  border-radius: 2px;
  color: black;
  text-align: center;
  font-size: 16px;
}

#div_form #connect {
  width: 150px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
  color: rgb(12, 116, 235);
  font-weight: bolder;
  font-size: 16px;
}
#img_page_login {
  width: 27%;
  margin: auto;
  margin-top: 30px;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 2px 0 9px black;
}

#img_page_login::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 2px 2px 7px black;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

#img_page_login:hover::after {
  opacity: 1;
}

/*Menu d'accueil - page login*/

#welcome_menu {
  margin-top: 20px;
  display: flex;
  list-style-type: none;
  gap: 23px;
  flex-wrap: wrap;
  margin-left: -40px;
}

#welcome_menu .link {
  width: 127px;
  height: 35px;
  border: 1px solid white;
  background-color: white;
  text-align: center;
  padding-top: 5px;
}

/*Dashboard*/

#contenu_dashboard {
  margin-top: 50px;
}

/*Formulaire ajouter les auteurs*/
#add_authors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 150px;
}

#add_authors .name,
.firstname {
  width: 200px;
  height: 35px;
  border-radius: 4px;
}

#add_authors #add {
  margin-top: 2px;
  height: 5vh;
  width: 100px;
  text-align: center;
  font-weight: bolder;
  color: black;
  font-size: 16px;
}

/*Page - liste romans*/
#liste_romans {
  margin-top: 0;
}

/*Page - auteur*/
#auteur_id {
  margin-top: 150px;
}

/*footer*/
footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
  align-items: center;
  right: 0;
  z-index: 3;
}
